

body {
    font-family: "Montserrat",sans-serif;
    text-align: center;
}



h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat",sans-serif;
}

p {
    color: #afafaf;
}

.container-fluid{
    padding: 5% 8%;
}

.colored-section{
    color:white;
}

.white-section{
    background-color: white;
}

/* title section */
#title{
    background-color: #ff4c68;
    padding-bottom: 10%;
    text-align: left;
}

.dogphone-img {
    width: 65%;
    transform: rotate(20deg);
    
    position: absolute;
    
}

.Big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: lighter;
}

/* Download Button */

.download-button{
    margin: 3% 3% 3% 0;
}


/* features */

.feature-box {
    padding: 5%
}

#features{
    padding: 7% 0;
    position: relative;
    
}

.featureIcon {
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.featureIcon:hover{
    color: #ff4c68;
}

.feature-title{
    font-weight: bold;
}

/* testimonial section */

#testimonials{
    padding: 7% 0%;
    background-color: #ef8172;
    
}

.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 3%;
}

.testimonial-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* press section */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    
}

.press-img {
    width:15%;
    margin: 1.8%;
}

/* pricing section */
#pricing {
}

.pricing-col{
    padding: 3% 2%;
}

.price-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.card-header-text {
    font-weight: bold;
}

/* cta section */
#cta{
    background-color: #ff4c68;
    padding: 3% 0;
}

.cta-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4rem;
    margin: 2%;
}

#footer {
    
}

.socialIcon{
    padding: 1%;
}
/* media queries */

@media (max-width: 1000px){
    .dogphone-img {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}